
.main-bg{
    /*background-image: url('../img/main-bg.jpg');*/
    background-image: url('../img/future-956144.jpg');
    background-size: cover;
    background-position: center center;
    color:  var(--white-color);
}

.white-bg-menu {
 background: var(--white-color);
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}

.main-content {
max-width: 120rem;
margin: 0 auto;    
padding: 4rem var(--gap); 
}

.section {
    min-height: 100vh;
}

.menu-spacing {
  height: 6rem;
}
.titulo-spacing {
  height: 4rem;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}
